@using SocialGruppo4.Models
@using SocialGruppo4.Models.Post;
@model List<Utility.Entity>
@{
    ViewData["Title"] = "Post di {nomeUtente}";
}

<!-- 
    DA FINIRE:
    
    -collegamento BE
    -rivedere colori e larghezza container
-->

<section class="post-page-container">
    <!-- POST -->
    @foreach(var p in Model)
    {
        <div class="post-single-page">
            <div class="post-content">
                <!-- nome utente (con link al profilo) -->
                <p class="author">@(((Post)p).IdUtente)</p>
                <!-- contenuto post -->
                <p class="content">@(((Post)p).Contenuto)</p>

                <div class="actions">
                    <div>
                        <!-- data post-->
                        <p class="date">@(((Post)p).DataEora.ToString("h:mm tt - d MMM yyyy"))</p>
                    </div>
                    <div class="buttons">
                        <a href="#">Rispondi</a>
                        <a href="#">Like</a>
                    </div>
                </div>
            </div>
            <!-- <form></form> -->
            <!--<input type="text" placeholder=""-->
        </div>

        <hr />
        <br />
    }

    <div class="comments">
        <!-- DIV CHE RACCHIUDE COMMENTI E RISPOSTE CHE SI CREANO SOTTO -->
        <div class="comments-thread">

            <!-- COMMENTO DI RISPOSTA AL POST-->
            <div class="post-first-comment">
                <div class="post-content">
                    <!-- nome utente (con link al profilo) -->
                    <p class="author">John Doe</p>
                    <!-- contenuto post-->
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</p>
                    <div class="actions">
                        <div>
                            <!-- data post-->
                            <p class="date">10:30 AM - 1 Jan 2022</p>
                        </div>
                        <div class="buttons">
                            <a href="#">Rispondi</a>
                            <a href="#">Like</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COMMENTO DI RISPOSTA AL COMMENTO-->
            <div class="post-first-comment-answer">
                <div class="post-content">
                    <!-- Qua dentro ci sarà una breve citazione al coomento a cui si sta rispondendo, tipo la tendina in discord o whatsapp.
                        Sarà formata da username e contenuto del commento -->
                    <div class="reference"><span>NomeUtente</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</div>
                    <!-- nome utente (con link al profilo) -->
                    <p class="author">John Doe</p>
                    <!-- contenuto post-->
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</p>
                    <div class="actions">
                        <div>
                            <!-- data post-->
                            <p class="date">10:30 AM - 1 Jan 2022</p>
                        </div>
                        <div class="buttons">
                            <a href="#">Rispondi</a>
                            <a href="#">Like</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-first-comment-answer">
                <div class="post-content">
                    <div class="reference"><span>NomeUtente</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</div>
                    <!-- nome utente (con link al profilo) -->
                    <p class="author">John Doe</p>
                    <!-- contenuto post-->
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</p>
                    <div class="actions">
                        <div>
                            <!-- data post-->
                            <p class="date">10:30 AM - 1 Jan 2022</p>
                        </div>
                        <div class="buttons">
                            <a href="#">Rispondi</a>
                            <a href="#">Like</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="comments-thread">

            <div class="post-first-comment">
                <div class="post-content">
                    <!-- nome utente (con link al profilo) -->
                    <p class="author">John Doe</p>
                    <!-- contenuto post-->
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</p>
                    <div class="actions">
                        <div>
                            <!-- data post-->
                            <p class="date">10:30 AM - 1 Jan 2022</p>
                        </div>
                        <div class="buttons">
                            <a href="#">Rispondi</a>
                            <a href="#">Like</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COMMENTO DI RISPOSTA AL COMMENTO-->
            <div class="post-first-comment-answer">
                <div class="post-content">
                    <!-- Qua dentro ci sarà una breve citazione al coomento a cui si sta rispondendo, tipo la tendina in discord o whatsapp. Sarà formata da nominativo e prima parte del corpo del commento -->
                    <div class="reference"><span>NomeUtente</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</div>
                    <!-- nome utente (con link al profilo) -->
                    <p class="author">John Doe</p>
                    <!-- contenuto post-->
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum, sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</p>
                    <div class="actions">
                        <div>
                            <!-- data post-->
                            <p class="date">10:30 AM - 1 Jan 2022</p>
                        </div>
                        <div class="buttons">
                            <a href="#">Rispondi</a>
                            <a href="#">Like</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>