@{
    ViewData["Title"] = "Accedi";
}

<section>
    <form action="/accedi" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
    </form>

    <div class="auth-links">
        <a href="#">Recupera la tua password</a>
    </div>
</section>