@using SocialGruppo4.Models.Utenti;

@model List<Utente>

<section>
    <h1 class="mb-4">Lista utenti</h1>
    <ul class="elenco-utenti">
        @foreach (var utente in Model)
        {
            <li class="utente">
                <div class="nome">@utente.Nominativo</div>
                <div class="email">@utente.Email</div>
            </li>
        }
    </ul>
</section>
