:root {
  --red-600: #dc2626;
  --green-600: #16a34a;
  --gray-600: #4b5563;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --twitter: #1da1f2;
  --twitter-dark: #188ad1;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

main {
  margin-top: 3rem;
  width: 100%;
}

.home-container {
  display: flex;
  align-items: start;
  gap: 3rem;
  width: 100%;
}

.home-utenti {
  width: 14rem;
  flex-shrink: 0;
}

.home-utenti h2 {
  color: var(--gray-900);
  font-size: 1.3rem;
}

.home-utenti h3 {
  color: var(--gray-800);
  font-size: 1rem;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
}

.h-full {
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.flash-message {
  position: absolute;
  display: flex;
  gap: 1rem;
  top: 1rem;
  right: 1rem;
  width: 20rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 9000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.flash-error::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 1rem;
  width: 100%;
  background-color: var(--red-600);
  border-radius: 0.5rem 0.5rem 0 0;
}

.flash-success::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 1rem;
  width: 100%;
  background-color: var(--green-600);
  border-radius: 0.5rem 0.5rem 0 0;
}

.flash-message button {
  width: 36px;
  height: 36px;
  border: 0;
  background-color: transparent;
  flex-shrink: 0;
  margin-top: 0.2rem;
  cursor: pointer;
}

.flash-message p {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  flex-grow: 1;
}

.input-validation-error {
  border: 1px solid var(--red-600);
}

.field-validation-error {
  display: block;
  color: var(--red-600);
  font-size: 0.925rem;
}


.navbar {
  padding: 0.5rem 1rem;
  background-color: var(--twitter);
  color: white;
}

.navbar-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-items a,
.navbar-item {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.4rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
}

.navbar-items a:hover,
.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar #logo {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.post-container {
  width: 100%;
  margin-top: 3rem;
}

.tweet {
  display: block;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 30px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  text-decoration: none;
  color: var(--gray-800);
}

.tweet-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.tweet p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.tweet .author {
  font-weight: bold;
  color: var(--gray-800);
}

.tweet .date {
  font-size: 13px;
  color: var(--gray-600);
}

.tweet .actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tweet .actions button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tweet .like-empty {
  color: var(--gray-800);
}

.tweet .like-empty:hover {
  color: var(--red-600);
}

.tweet .like-full {
  color: var(--red-600);
}

.tweet .like-full:hover {
  color: var(--gray-800);
}

.tweet .action-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

footer {
  background-color: #eeeeee;
  color: #444444;
  padding: 2rem 1rem;
  margin-top: 4rem;
}

.hidden {
  display: none;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.red-600 {
  color: var(--red-600);
}

.rounded {
  border-radius: 0.5rem;
}

.btn-secondary {
  padding: 0.4rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  background-color: white;
  color: var(--gray-800);
  font-size: 1rem;
  font-weight: 500;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.btn-secondary:hover {
  border: 1px solid var(--twitter);
  background-color: var(--twitter);
  color: white;
}

.home-card-utente {
  margin-top: 1.5rem;
}

.home-card-utente h3 {
  color: var(--gray-900);
}

.link {
  color: var(--twitter);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}

.link:hover {
  color: var(--twitter-dark);
}

.text-right {
  text-align: right;
}

.separatore {
  height: 60px;
  /* Aggiungi altezza per creare spazio */
}

.icon-primary {
  color: var(--twitter);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.icon-primary:hover {
  color: var(--twitter-dark);
}

.btn-primary {
  background-color: var(--twitter);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--twitter-dark);
}

.post-form-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-size: 1rem;
}

.post-form-textarea:focus-visible {
  outline: 2px solid var(--twitter);
}

.post-form-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.listazioni {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 150px;
}


/* Stile comune per tutte e tre le classi */
.registration-form,
.recovery-form,
.login-section {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
}

/* Stile per le etichette dei campi all'interno delle classi */
.registration-form label,
.recovery-form label,
.login-section label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Stile per gli input dei campi all'interno delle classi */
.registration-form input[type="text"],
.registration-form input[type="email"],
.recovery-form input[type="email"],
.recovery-form input[type="password"],
.login-section input[type="email"],
.login-section input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Stile per i messaggi di validazione all'interno delle classi */
.registration-form span,
.recovery-form span,
.login-section span {
  color: red;
  font-size: 14px;
}

/* Stile per il pulsante di invio all'interno delle classi */
.registration-form button[type="submit"],
.recovery-form button[type="submit"],
.login-section button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.registration-form button[type="submit"]:hover,
.recovery-form button[type="submit"]:hover,
.login-section button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.auth-links {
  text-align: center;
  margin-top: 1rem;
}

.auth-links a {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  color: var(--twitter);
  font-size: 1rem;
}

.auth-links a:hover {
  color: var(--twitter-dark);
  text-decoration: underline;
}

/* dropdown*/

/* Stile per il dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Stile per il pulsante del dropdown */
.dropbtn {
  display: flex;
  align-items: center;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  padding: 0.4rem;
  transition: all 100ms ease-in-out;
}

.dropbtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Stile per il contenitore del dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 210px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

/* Stile per gli elementi del dropdown menu */
.dropdown-item {
  color: #222222;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-size: 1rem !important;
  font-weight: 400;
  border-radius: 5px;
  width: 100%;
  margin: 0 !important;
}

/* Cambia il colore degli elementi del dropdown al passaggio del mouse */
.dropdown-content a:hover {
  background-color: var(--twitter);
  color: white;
}

/* Mostra il dropdown menu quando il pulsante � attivato */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Stile per il logout button all'interno del dropdown menu */
.dropdown-content form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
  font-weight: 400;
  color: #dc2626;
}

.dropdown-content form button:hover {
  background-color: #dc2626;
  color: white;
}

/* ~/css/utenti.css */

/* Stile per il titolo */
h1 {
  color: var(--gray-800);
}

/* Stile per la lista ul */
ul.elenco-utenti {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* Stile per gli elementi li */
li.utente {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Stile per gli elementi li quando passano sopra */
li.utente:hover {
  background-color: #f5f8fa;
}

/* Stile per il nome dell'utente */
div.nome {
  font-weight: bold;
  color: #1da1f2;
  /* Blu Twitter */
}

/* Stile per l'email dell'utente */
div.email {
  color: #333;
  /* Nero */
}

/*

     -------------------------------------------------------------------------------------      PAGINA POST        -------------------------------------------------------------------------------------

*/

/*  ----------------------------------------------------    GENERALE        ----------------------------------------------------    */

.post-page-container {
  padding: 0;
  border: 2px solid purple;
  border-radius: 10px;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post-page-container .post-content {
  width: 100%;
  padding: 5px;
}

.post-page-container .author {
  font-weight: bold;
  text-transform: uppercase;
  margin: 7.5px 0;
}

.post-page-container .content {
  margin: 0;
  line-height: 1.2;
}

.post-page-container .date {
  color: #657786;
  margin: 10px 0;
}

.post-page-container .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}

.post-page-container .buttons {
  padding: 0;
  height: 100%;
  margin-right: 10px;
}

.post-page-container .buttons button {
  border: none;
  background: inherit;
  font-size: 14px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1DA1F2;
  padding: 0;
  margin-left: 30px;
}

.post-page-container .buttons button:hover {
  text-decoration: underline;
  box-shadow: 0 0 5px rgba(50, 172, 248, 0.5);
}

.post-page-container div[id^="comment-form-"] {
  display: none;
}

.post-page-container .answer {
  padding: 10px 15px;
  font-size: 150%;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  background: inherit;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.post-page-container .answer:focus {
  border: none;
}

.post-page-container .answer::-webkit-scrollbar {
  width: 10px;
}

.post-page-container .answer::-webkit-scrollbar-track {
  background: inherit;
}

.post-page-container .answer::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid inherit;
}

.post-page-container .input-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  background-color: rgba(57, 228, 108, 0.2);
  border: 1px solid slateblue;
  border-radius: 15px;
}

.post-page-container .input-wrapper button {
  border: none;
  background: inherit;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*  ----------------------------------------------------    POST        ----------------------------------------------------    */

.post-page-container .post-single-page {
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
  background-color: rgba(216, 132, 132, 0.2);
}

.post-page-container .post-single-page .post-content {
  padding: 10px;
}

.post-page-container .post-single-page .content {
  width: 95%;
  font-size: 200%;
  line-height: 1.2;
}

.post-page-container .post-single-page .author {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

.post-page-container .post-single-page .date {
  font-size: 20px;
}

.post-page-container .post-single-page .buttons {
  margin-right: 20px;
}

.post-page-container .post-single-page .input-wrapper {
  margin: 0 5px;
}


/*  ----------------------------------------------------    COMMENTO RISPOSTA POST        ----------------------------------------------------    */


.post-page-container .comments {
  width: 90%;
  border: 1px solid brown;
  float: right;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post-page-container .comments-thread {
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.post-page-container .comments .date {
  font-size: 14px;
}

.post-page-container .comments .actions {
  padding: 0;
}

.post-page-container .comments .answer {
  font-size: 110%;
}

.post-page-container .post-first-comment {
  background-color: rgba(71, 173, 204, 0.2);
  padding: 4px 10px;
  margin-bottom: 5px;
  font-size: 120%;
  border-radius: 7px;
  width: 98%;
}

.post-page-container .post-first-comment-answer {
  background-color: rgba(14, 121, 46, 0.2);
  padding: 4px 10px;
  font-size: 120%;
  border-radius: 7px;
  width: 90%;
  margin-bottom: 5px;
}

.post-page-container .post-first-comment-answer:last-child {
  margin-bottom: 0;
}


.post-page-container .reference {
  margin: 5px 25px 5px 0;
  border-bottom: 1px solid red;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*                                                 
    ----------------------------------------------PAGINA PROFILO--------------------------------------------                                      
*/

.profile-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
}

.profile-data-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Stile per il container */
.containerprofilo {
  width: 100%;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

/* Stile per l'header del profilo */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-header h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Stile per la sezione della biografia */
.biography p {
  font-size: 18px;
}