@using SocialGruppo4.Models.Utenti

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <section clas="container-tweet">
        <div class="tweet-compose">
            <form enctype="multipart/form-data">
                <textarea placeholder="A cosa stai pensando?"></textarea>
                <div class="button-container">
                    <label for="image-upload" class="image-upload-label">Carica Immagine</label>
                    <button type="submit">Posta</button>
                </div>
                <input type="file" accept="image/*" id="image-upload" />
            </form>
        </div>
        <div class="post-container">
            <div class="tweet">
                <p class="author">John Doe</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum,
                    sapien velit bibendum sapien, vel bibendum sapien velit bibendum sapien.</p>
                <p class="date">10:30 AM - 1 Jan 2022</p>
                <div class="actions">
                    <a href="#">Rispondi</a>
                    <a href="#">Like</a>
                </div>
            </div>
            <div class="tweet">
                <p class="author">Jane Smith</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget
                    metus.
                    Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="date">9:15 AM - 1 Jan 2022</p>
                <div class="actions">
                    <a href="#">Rispondi</a>
                    <a href="#">Like</a>
                </div>
            </div>
            <div class="tweet">
                <p class="author">Jane Smith</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget
                    metus.
                    Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="date">9:15 AM - 1 Jan 2022</p>
                <div class="actions">
                    <a href="#">Rispondi</a>
                    <a href="#">Like</a>
                </div>
            </div>
            <div class="tweet">
                <p class="author">Jane Smith</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget
                    metus.
                    Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="date">9:15 AM - 1 Jan 2022</p>
                <div class="actions">
                    <a href="#">Rispondi</a>
                    <a href="#">Like</a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-utenti">
        <h2>Potresti conoscere</h2>
        <div class="mt-4">
            @foreach (Utente utente in ViewBag.Utenti)
            {
                <div class="home-card-utente">
                    <h3 class="mb-2">@utente.Nominativo</h3>
                    <form asp-controller="Utenti" asp-action="Follow" asp-route-id="@utente.Id" method="POST">
                        <button type="submit" class="btn-secondary w-full">Segui</button>
                    </form>
                </div>
            }
        </div>
        <div class="mt-4 text-right">
            <a asp-action="ElencoUtenti" asp-controller="Utenti" class="link">MOSTRA TUTTI</a>
        </div>
    </section>
</div>
